<?xml version="1.0" encoding="utf-8"?>
<!--
    eduEx - Extensions for .NET

    Copyright: 2021 The Commons Conservancy eduVPN Programme
    SPDX-License-Identifier: GPL-3.0+
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <!--
            Components
        -->
        <DirectoryRef Id="BINDIR">
            <Component Id="eduEx.dll" Guid="{153A001F-0206-4F9F-957E-43E00FB31B2B}">
                <File Source="eduEx.dll"/>
            </Component>
        </DirectoryRef>


        <!--
            Component groups
        -->
        <ComponentGroup Id="eduEx.dll">
            <ComponentRef Id="eduEx.dll"/>
        </ComponentGroup>
    </Fragment>
</Wix>
